In [1]:
# Uncomment if yfinance library is not installed
!pip install yfinance

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: yfinance in /Users/jeromeandrewong/Library/Python/3.9/lib/python/site-packages (0.2.28)
Requirement already satisfied: pandas>=1.3.0 in /Users/jeromeandrewong/Library/Python/3.9/lib/python/site-packages (from yfinance) (1.5.3)
Requirement already satisfied: numpy>=1.16.5 in /Users/jeromeandrewong/Library/Python/3.9/lib/python/site-packages (from yfinance) (1.24.2)
Requirement already satisfied: requests>=2.31 in /Users/jeromeandrewong/Library/Python/3.9/lib/python/site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /Users/jeromeandrewong/Library/Python/3.9/lib/python/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /Users/jeromeandrewong/Library/Python/3.9/lib/python/site-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in /Users/jeromeandrewong/Library/Python/3.9/lib/python/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /Users/jeromeandrewong/Library/Python/3.9/lib/python/site-packages (from yfinance) (2022.7.1)
Requirement already satisfied: frozendict>=2.3.4 in /Users/jeromeandrewong/Library/Python/3.9/lib/python/site-packages (from yfinance) (2.3.8)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /Users/jeromeandrewong/Library/Python/3.9/lib/python/site-packages (from yfinance) (4.11.1)
Requirement already satisfied: html5lib>=1.1 in /Users/jeromeandrewong/Library/Python/3.9/lib/python/site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /Users/jeromeandrewong/Library/Python/3.9/lib/python/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: six>=1.9 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: webencodings in /Users/jeromeandrewong/Library/Python/3.9/lib/python/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/jeromeandrewong/Library/Python/3.9/lib/python/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/jeromeandrewong/Library/Python/3.9/lib/python/site-packages (from requests>=2.31->yfinance) (3.0.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/jeromeandrewong/Library/Python/3.9/lib/python/site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/jeromeandrewong/Library/Python/3.9/lib/python/site-packages (from requests>=2.31->yfinance) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in /Users/jeromeandrewong/Library/Python/3.9/lib/python/site-packages (from requests>=2.31->yfinance) (2022.12.7)

[notice] A new release of pip is available: 23.1 -> 23.2.1
[notice] To update, run: /Library/Developer/CommandLineTools/usr/bin/python3 -m pip install --upgrade pip

In [2]:
# Import relevant libraries
import numpy as np
import pandas as pd
import yfinance as yf

In [3]:
# Define variables
stock_tickers = ['AAPL', 'GOOG']
start_date = '2010-01-01' # in the format YYYY-MM-DD
end_date = '2023-01-01'
riskfree_rate = 0.02

In [4]:
# Extract data from yfinance
prices_df = yf.download(stock_tickers, start=start_date, end=end_date)
prices_df

[*********************100%%**********************]  2 of 2 completed

             Adj Close                  Close                   High  \
                  AAPL       GOOG        AAPL       GOOG        AAPL
Date
2010-01-04    6.487535  15.610239    7.643214  15.610239    7.660714
2010-01-05    6.498751  15.541497    7.656429  15.541497    7.699643
2010-01-06    6.395380  15.149715    7.534643  15.149715    7.686786
2010-01-07    6.383556  14.797037    7.520714  14.797037    7.571429
2010-01-08    6.425995  14.994298    7.570714  14.994298    7.571429
...                ...        ...         ...        ...         ...
2022-12-23  131.299820  89.809998  131.860001  89.809998  132.419998
2022-12-27  129.477585  87.930000  130.029999  87.930000  131.410004
2022-12-28  125.504547  86.459999  126.040001  86.459999  131.029999
2022-12-29  129.059372  88.949997  129.610001  88.949997  130.479996
2022-12-30  129.378006  88.730003  129.929993  88.730003  129.949997

                              Low                   Open             \
                 GOOG        AAPL       GOOG        AAPL       GOOG
Date
2010-01-04  15.678981    7.585000  15.547723    7.622500  15.615220
2010-01-05  15.637387    7.616071  15.480475    7.664286  15.620949
2010-01-06  15.588072    7.526786  15.102393    7.656429  15.588072
2010-01-07  15.193053    7.466071  14.760922    7.562500  15.178109
2010-01-08  15.024933    7.466429  14.672753    7.510714  14.744733
...               ...         ...        ...         ...        ...
2022-12-23  90.099998  129.639999  87.620003  130.919998  87.620003
2022-12-27  89.500000  128.720001  87.535004  131.380005  89.309998
2022-12-28  88.519997  125.870003  86.370003  129.669998  87.500000
2022-12-29  89.364998  127.730003  86.989998  127.989998  87.029999
2022-12-30  88.830002  127.430000  87.029999  128.410004  87.364998

               Volume
                 AAPL       GOOG
Date
2010-01-04  493729600   78541293
2010-01-05  601904800  120638494
2010-01-06  552160000  159744526
2010-01-07  477131200  257533695
2010-01-08  447610800  189680313
...               ...        ...
2022-12-23   63814900   17815000
2022-12-27   69007800   15470900
2022-12-28   85438400   17879600
2022-12-29   75703700   18280700
2022-12-30   77034200   19190300

[3272 rows x 12 columns]

In [5]:
# convert datetime index to date format
prices_df.index = prices_df.index.date
# keep adjusted close
prices_df = pd.DataFrame(prices_df['Adj Close'])
prices_df.head()

                AAPL       GOOG
2010-01-04  6.487535  15.610239
2010-01-05  6.498751  15.541497
2010-01-06  6.395380  15.149715
2010-01-07  6.383556  14.797037
2010-01-08  6.425995  14.994298

In [6]:
# Create returns DataFrame
returns_df = prices_df.pct_change()
returns_df.head()

                AAPL      GOOG
2010-01-04       NaN       NaN
2010-01-05  0.001729 -0.004404
2010-01-06 -0.015906 -0.025209
2010-01-07 -0.001849 -0.023280
2010-01-08  0.006648  0.013331

In [7]:
# Calculate daily return as geometric mean
returns_per_day = (returns_df+1).prod()**(1/returns_df.shape[0]) - 1
returns_per_day

AAPL    0.000915
GOOG    0.000531
dtype: float64

In [8]:
# Calcualting annualized volatility
annualized_vol = returns_df.std()*np.sqrt(252)
annualized_vol

AAPL    0.287158
GOOG    0.270620
dtype: float64

In [9]:
# calculate annualized return
annualized_return = (returns_per_day+1)**252-1
annualized_return

AAPL    0.259231
GOOG    0.143199
dtype: float64

In [10]:
# calculate sharpe ratio
sharpe_ratio = (annualized_return - riskfree_rate)/annualized_vol
sharpe_ratio

AAPL    0.833098
GOOG    0.455247
dtype: float64